.cart{
    position: sticky;
    top: 0;
    padding: 30px 22px;
}

.cart-btn{
    width: 232px;
    height: 48px;
    left: 1192px;
    top: 450px;
    color: #ffff;
    background: #FF3030;
    border-radius: 4px;
}